<h1><i class="material-icons">supervised_user_circle</i> Users</h1>

<ul [@listStagger]="users$">
  <li *ngFor="let user of users$">
    <a routerLink="/details/{{user.id}}">{{ user.name }}</a>

    <ul>
        <li>{{ user.fio }}</li>
        <li>{{ user.email }}</li>
        <li>{{ user.tel }}</li>
    </ul>
  </li>
</ul>