<!-- <form > -->
  <!-- <div class="form-group">
      <label for="firstName">First Name</label>
      <input 
      required 
      minlength='3' 
      maxlength='10' 
      pattern='bannana' 
      ngModel 
      name="firstName"  
      #firstName="ngModel" 
      (change)="handleName(firstName.value)" 
      id="firstName" 
      type="text" 
      class="form-control">

      <div 
      class="alert alert-danger" 
      *ngIf="firstName.touched && !firstName.valid">

        <div *ngIf="firstName.errors.required">
          First Name is Required!
        </div>
        <div *ngIf="firstName.errors.minlength">
          First Name should be minimum {{firstName.errors.minlength.requiredLength}} characters!
        </div>
        <div *ngIf="firstName.errors.pattern">
          First Name doesn't match the pattern!
        </div>
      </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" #comment="ngModel"  (change)="handleComment(comment.value)"  id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Submit</button> -->
  <!-- <div class="form-group">
    <div>
      <label for="id">ID:</label>
      <input 
      required 
      minlength='3' 
      maxlength='4' 
      ngModel 
      name="id"  
      #id="ngModel" 
      (change)="handleID(id.value)" 
      id="id" 
      type="text" 
      class="form-control">

      <div 
      class="alert alert-danger" 
      *ngIf="id.touched && !id.valid">

        <div *ngIf="id.errors.required">
          ID is Required!
        </div>
        <div *ngIf="id.errors.minlength">
          ID should be minimum {{id.errors.minlength.requiredLength}} characters!
        </div> -->
        <!-- <div *ngIf="firstName.errors.pattern">
          First Name doesn't match the pattern!
        </div> -->
      <!-- </div>
      </div>
  </div>
  <div class="form-group">
      <label for="fio">FIO</label>
      <input ngModel name="fio" #fio="ngModel"  (change)="handleFIO(fio.value)"  id="fio" class="form-control">
    </div> -->
  <!-- <div class="form-group">
    <label for="comment">Comment</label>
    <textarea ngModel name="comment" #comment="ngModel"  (change)="handleComment(comment.value)"  id="comment" cols="30" rows="10" class="form-control"></textarea>
  </div> -->
<!-- </form> -->

<!--ADD CLIENTS FORM -->

<form>
    <h1>ADD CLIENTS:</h1>
    <div class="form-row">
        <div class="col-md-1 mb-3">
            <label for="validationServer01"> CARD ID:</label>
            <input 
            type="text" 
            class="form-control" 
            id="id" 
            name="id"
            placeholder="# CARD ID"
            minlength='3' 
            maxlength='4'
            required
            ngModel 
            #id="ngModel"
            (change)="handleID(id.value)" 
            >
          </div>
      <div class="col-md-3 mb-3">
        <label for="fio"> NAME & SURNAME:</label>
        <input 
        type="text" 
        class="form-control" 
        placeholder="Name & Surname" 
        minlength='3' 
        maxlength='30' 
        ngModel 
        name="fio"  
        #fio="ngModel" 
        (change)="handleFIO(fio.value)" 
        id="fio"
        required
        >
      </div>
      <div class="col-md-2 mb-3">
        <label for="tel">TEL:</label>
        <input 
        type="text" 
        class="form-control" 
        id="tel"
        name="tel" 
        ngModel  
        #tel="ngModel" 
        (change)="handleTEL(tel.value)"
        placeholder="TEL"  required>
      </div>
      <!-- <div class="col-md-2 mb-3">
          <label for="validationServer02">EMAIL:</label>
          <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div> -->
    
      <div class="col-md-2 mb-3">
          <label for="bday">BIRTHDAY:</label>
          <input type="text" 
          class="form-control" 
          id="bday"
          name="bday" 
          ngModel  
          #bday="ngModel" 
          (change)="handleBDAY(bday.value)"
          placeholder="mm/dd/yyyy" >
        </div>

        <div class="form-group col-md-2 mb-3">
            <label for="gender">GENDER:</label>
            <select 
            id="gender"
            ngModel  
            #gender="ngModel" 
            (change)="handleGENDER(gender.value)"
            name="gender"
            class="form-control custom-select" >
              <option selected >Choose...</option>
              <option value="male">Ч</option>
              <option value ="female">Ж</option>
            </select>
          </div>

        <div class="form-check">
            <label class="form-check-label" for="child">
                IS CHILD ? :
              </label>
            <input 
            class="form-check-input is-invalid" 
            type="checkbox" 
            id="child"
            name="child" 
            ngModel  
            #child="ngModel" 
            (change)="handleCHILD(child.value)"
            > &nbsp;
          
            <div class="invalid-feedback">
              Потрібно обрати якщо реєструєте дитину.
            </div>
          </div>
   
 
    </div>

    <div class="form-row">
        <div class="form-group col-md-4 mb-3">
            <label for="abon">ABONEMENT:</label>
            <select 
            id="abon"
            ngModel  
            #abon="ngModel" 
            (change)="handleABON(abon.value)"
            name="abon"
            class="form-control custom-select">
              <option selected>Choose abonement...</option>
              <option *ngFor="let aboni of abons" [value]="aboni.id">{{aboni.val}}</option>
              
            </select>
          </div>
      <div class="col-md-1 mb-3">
        <label for="discount">DISCOUNT:</label>
        <input 
        type="text"
         class="form-control"
         id="discount"
         name="discount" 
         ngModel  
         #discount="ngModel" 
         (change)="handleDISCOUNT(discount.value)"
           placeholder="Discount" >
      </div>
      <div class="col-md-5 mb-3">
        <label for="notes">NOTES : </label>
        <input 
        type="text" 
        class="form-control" 
        id="notes"
        name="notes" 
        ngModel  
        #notes="ngModel" 
        (change)="handleNOTES(notes.value)" 
        placeholder="NOTES:" >
      </div>
    
      <div class="form-group col-md-2 mb-3">
          <label for="photo">PHOTO:</label>
          <input 
          type="file" 
          class="form-control-file" 
          accept=".jpg, .jpeg, .png"
          id="photo"
          name="photo" 
          ngModel  
          #photo="ngModel" 
          (change)="handlePHOTO(photo.value)">
        </div>

    </div>

  


    <button class="btn btn-primary" (click)="handleCLIENT()" >ADD CLIENT</button>
  </form>

<br>
<br>
<br>

<!-- ADD USERS FORM -->

<form>
  <h1>ADD USERS:</h1>
    <div class="form-row">
      <div class="col-md-3 mb-3">

        <label for="fio"> NAME & SURNAME:</label>
        <input type="text" class="form-control" id="fio" placeholder="Name & Surname" required>
      </div>
      <div class="col-md-2 mb-3">
        <label for="tel">TEL:</label>
        <input type="text" class="form-control" id="tel" placeholder="Tel"  required>
      </div>
      <div class="col-md-2 mb-3">
          <label for="bday">BIRTHDAY:</label>
          <input type="text" class="form-control" id="bday" placeholder="mm/dd/yyyy" >
        </div>

        <div class="form-group col-md-2 mb-3">
            <label for="role">ROLE:</label>
            <select id="role" class="form-control custom-select">
              <option selected>Choose Role...</option>
              <option>dfdgdfgd</option>
              <option>dfgdfgdgd</option>
            </select>
          </div>

        <div class="form-group col-md-2 mb-3">
            <label for="exampleFormControlFile1">PHOTO:</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
 
    </div>


    <button class="btn btn-primary" (click)="handleCLIENT()" >ADD USER</button>
  </form>

  <br>
  <br>
  <br>
  
  <!-- ADD ABON FORM -->
  
  <form>
    <h1>ADD ABONEMENT:</h1>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationServer02"> ABONEMENT NAME:</label>
          <input type="text" class="form-control" id="validationServer02" placeholder="Abonement description here"  required>
        </div>
        <div class="col-md-2 mb-3">
          <label for="validationServer02">DAYS AMOUNT:</label>
          <input type="text" class="form-control" id="validationServer02" placeholder="1-8-12-unlimited"  required>
        </div>
        <div class="col-md-2 mb-3">
            <label for="validationServer02">PRICE:</label>
            <input type="text" class="form-control" id="validationServer02" placeholder="$ PRICE" required >
          </div>
  
   
      </div>
  
  
      <button class="btn btn-primary" type="submit">ADD ABONEMENT</button>
    </form>