<nav>
  <ul>
      <li>
          <a routerLink="" [class.activated]="currentUrl == '/'" >
            <i class="material-icons">dashboard</i>
          </a>
        </li>
        <li>
    <li>
      <a routerLink="users" [class.activated]="currentUrl == '/users'" >
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'"  >
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
      <a routerLink="contact-form" [class.activated]="currentUrl == '/contact-form'"  >
        <i class="material-icons">mail_outline</i>
      </a>
    </li>
    <li>
      <a routerLink="reactive-form" [class.activated]="currentUrl == '/reactive-form'"  >
        <i class="material-icons">mail</i>
      </a>
    </li>
  </ul>
</nav>
