<div *ngIf="!name; else forminfo">
  <form [formGroup]='rForm' (ngSubmit)="addPost(rForm.value)">
  
        <h1> My Reactive Form!</h1>
        <div class="form-group">
          <label>Name
            <input type="text" formControlName='name'>
          </label>
          <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
            {{ titleAlert }}
          </div>
        </div>

        <div class="form-group">
        <label>Description
          <textarea formControlName='description'></textarea>
        </label>
        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">
          {{ descAlert }}
        </div>
      </div>


      <div class="form-group">
        <label for="validate">Minimum of 3 characters</label>
        <input type="checkbox" name='validate' formControlName='validate' value='1'> On
        </div>

        <input type="submit" class='btn btn-primary' value='Submit Form' [disabled]='!rForm.valid'>
  
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>
</ng-template>