
.alert{
    background-color:lightgoldenrodyellow;
    padding:7px;
    font-size: .9em;
    margin-bottom: 20px;
    display: inline-block;
    animation:2s alertAnim forwards;
}

@keyframes alertAnim{
    from {
        opacity:0;
        transform:translateY(-20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}