<h1><i class="material-icons">message</i> Posts</h1>

<ul [@listStagger]="posts$">
  <li *ngFor='let post of posts$'>
    <a routerLink='/posts/{{post.id}}/comments'>{{ post.title }}</a>
    <p>{{ post.body }}</p>

    <li *ngFor='let dataof comment$'>

      {{data.name}}

    </li>
</ul>