<div *ngIf='user$'>
  <h1><a routerLink="">{{ user$.name}}</a></h1>

  <ul>
    <li>
      <strong>Username:</strong> {{ user$.name }}</li>
    <li>
      <strong>Email:</strong> {{ user$.email }}</li>
    <li>
      <strong>Phone:</strong> {{ user$.phone }}</li>
  </ul>
</div>