

.btn{
    background-color:#2D2E2E ;
    color:white;
    border-radius:4px 4px 4px 4px;
    padding:10px 20px;
    margin:20px 0;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
        background-color: #00a8ff;
        cursor:pointer;
    }
}

