<h1>Comments:</h1>
<button class='btn' routerLink="/posts">back</button>

<ul [@listStagger]="comments$" >
  <li *ngFor='let comment of comments$' >
    <h3>{{ comment.name }}</h3>
    <ul>
      <li>{{ comment.email }}</li>
      <li><p>{{ comment.body }}</p></li>
    </ul>
  </li>
</ul>

